<div class = "container py-5">
  <h1>Create a new list</h1>
    <p>
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, placeholder: 'Add a list name' %>
    <%= f.submit class: "btn btn-dark btn-md"%>
    <% end %>
    </p>
</div>
